@font-face {
  font-family: "Inter";
  src:
    url("../assets/fonts/inter.woff2") format("woff2"),
    url("../assets/fonts/inter.woff") format("woff");
}

@font-face {
  font-family: "Script";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src:
    local("Style Script Regular"),
    local("StyleScript-Regular"),
    url(../assets/fonts/style-script.woff2) format("woff2"),
    url(../assets/fonts/style-script.woff) format("woff");
  font-display: auto;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --gray-100: #e4e4e4;
  --gray-200: #b2b2b2;
  --gray-500: #828282;
  --gray-600: #555555;
  --gray-700: #2c2c2c;
  --pure-black: #000000;
  --pure-white: #ffffff;
  --red-500: hsl(39, 77%, 73%);
  --font-family: "Inter", sans-serif;
}

html {
  background-color: var(--gray-100);
  color: var(--pure-black);
  font-size: 1.2rem;
  line-height: 1.2em;
  font-family: var(--font-family);
  height: 100vh;
}

input,
textarea,
button,
select {
  font-size: 1.2rem;
}

input,
textarea,
select {
  width: 12ch;
}

button {
  padding: 0.5em 1em;
  max-width: 15ch;
  background-color: var(--gray-600);
  color: var(--pure-white);
  font-weight: bold;
}

p {
  margin-inline-start: 1rem;
  line-height: 1.2em;
}

button:hover {
  cursor: pointer;
  color: var(--red-500);
}

h1 {
  font-family: "Script", "Inter", sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  margin-block:0.25rem;
  text-align: center;
}

h1:hover {
  color: greenyellow;
}

#buttons {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.highlighted-text {
  color: red;
}

.wrapper {
  width: clamp(450px, 80%, 1440px);
  background-color: var(--gray-200);
  /* border: 2px var(--pure-black) solid; */
  margin-inline: auto;
  /* margin-block-start: 2rem; */
}

#heading,
#status-message {
  background-color: var(--gray-600);
  color: white;
  align-items: center;
  justify-content: center;
  /* height: 100%;
	width: 100%; */
}

#usr-img-div {
  width: 70%;
  margin-inline: auto;
  margin-block: 0.5rem;
}

#usr-img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}

#user-id {
  font-size: 0.75rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: var(--pure-white);
  margin-block-end: 2rem;
}

#filter-date {
  margin-inline-start: 1rem;
  background-color: var(--gray-600);
  color: var(--pure-white);
  font-size: 1rem;
  margin-block: 1rem;
  width: 13ch;
}

#btn-date-go{
    padding:0.25rem;
    font-size: 1rem;
    font-weight: normal;
    margin-inline-start: 0.25rem;
    background-color: var(--gray-200);
    color: var(--pure-black);
}
#heading {
  /* border: 1px var(--pure-black) solid; */
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  font-weight: bold;
}

#buffer {
  display: none;
  /* border: 2px black solid; */
}

#project-details {
  display: none;
  /* border: 2px black solid; */
}

#projects {
  margin-block-start: 2rem;
}

#projects p:not(.sidebar-heading), #tasks p:not(.sidebar-heading){
  font-style: italic;
  font-size: 0.75rem;
}

#projects p:hover, #tasks p:hover{
  cursor: pointer;
  color: var(--red-500);
}

/*Appears at the bottom to show status / error messages"*/
#status-message {
  font-size: 0.75rem;
  text-align: center;
  color: var(--red-500);
}

#content {
  display: grid;
}

#side-bar {
  background-color: var(--gray-600);
  color: var(--pure-white);
  display: none;
}

.sidebar-heading {
  font-weight: bold;
  font-style: normal;
  margin: 0.5rem;
}

#details {
  display: grid;
  grid-template-rows: 0.5fr 6fr 1fr 0.25fr;
  height: calc(100vh - 3rem);
}

/* #main-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
} */

#input-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  justify-content: center;
  align-items: center;
  /* width: auto; */
  gap: 1rem;
}

#item-due-date {
  width: 13ch;
}

#item-due-time {
  width: 10ch;
}

@media screen and (width > 1000px) {
  #side-bar {
    display: block;
  }
  #buffer {
    display: block;
  }
  #project-details {
    display: block;
  }
  #content {
    grid-template-columns: 1fr 5fr;
  }
}

#main-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
#project-details-div{
  width: clamp(475px, 80%,550px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

#project-mod{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: auto;
  /* border: 2px black solid; */
  gap: 1rem;
}
/* #project-mod > *{
  border: 1px red solid;
} */

#proj-buttons{
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-block-start: 2rem;
}

#project-list-div{
  display: flex;
  justify-content: start;
  align-items: start;
}

#project-list{
  width: 100%;
}

option{
  border: 1px var(--gray-200) solid;
}

/* #proj-buttons > button{
  padding: 0.25em 0.5em;

} */

#item-list-div{
  align-self: start;
  justify-self: start;
  margin-top: 2rem;
  width: 95%;
  margin-inline: auto;
}
#item-list{
  width: 100%;
}