/* Stylesheet for todoitemlist.js */

#main-content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#item-list-div{
  align-self: start;
  justify-self: start;
  margin-top: 2rem;
  width: 95%;
  margin-inline: auto;
}

option{
  border: 1px var(--gray-200) solid;
}

#item-list-table{
  cursor : cell;
  user-select : none;
  border-spacing : 0.05rem;
}

#item-list-table td{
    border: 1px solid hsl(0, 0%, 50%);
    height: 1.5rem;
}

#item-list-table th{
  background-color: hsl(0, 0%, 35%);
  color: white;
  font-style: bold;
  height: 2rem;
  text-align: left;
  padding-inline-start: 0.5em;
}

#item-list-table th:hover{
  cursor:pointer;
}

#item-list-table td{
  padding-inline: 0.5em;
}